<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="desafio.html">Desafio</a>
    <h2>"Hello World! This is my first project with Flask!"</h2><br>
    <p>Utilizando o recurso do Jinja2 pra carregar a página HTML</p>
    <p>Meu nome é: </p>{{meu_nome}}<br>

    {% if 7 > 4 %}
    Sim, 7 é maior que 4!<br>
    {% else %}
    Não, 7 é menor que 4!<br>
    {% endif %}

    {% for i in range(1, 10)%}
        Listando: {{i}}<br>
    
    {%endfor%}


</body>
</html>